version: "3.2"

services:
  db:
    image: postgres:14.3-alpine
    container_name: rdlv-db
    environment:
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}
    ports:
      - '${SQL_PORT}:5432'
    volumes:
      - ./db:/var/lib/postgresql/data